{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header-text">
                <h1>ToDo</h1>
                <h2>Welcome {{ user.username }}</h2>
            </div>
        </div>

        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'Daily_Activity')">Daily Activity</button>
            <button class="tablinks" onclick="openTab(event, 'Today')">Today</button>
            <button class="tablinks" onclick="openTab(event, 'Backlog')">Backlog</button>
            <button class="tablinks" onclick="openTab(event, 'History')">History</button>
        </div>

        <div id="Daily_Activity" class="tabcontent">
            <div class="activity-buttons">
                <button type="button" class="add-activity-button" onclick="toggleActivityForm()">+ Add New Activity</button>
                <button type="button" class="view-activities-button" onclick="toggleActivities()">View Activities</button>
            </div>

            <!-- Add Activity Form -->
            <div id="addActivityForm" class="activity-form" style="display: none;">
                <form method="post" action="{% url 'home' %}">
                    {% csrf_token %}
                    <input type="hidden" name="add_activity" value="true">
                    {{ activity_form.as_p }}
                    <button type="submit">Add Activity</button>
                </form>
            </div>

            <!-- Activities List -->
            <div id="activitiesList" style="display: none;">
                {% for activity in activities %}
                    <div class="activity">
                        <h4>
                            {% url 'log_activity' activity.id as log_url %}
                            <input type="checkbox" onchange="toggleComplete('{{ log_url }}', this)" 
                                {% if activity.id in completed_today_logs %}checked{% endif %}> 
                            {{ activity.title }}
                        </h4>
                        <a href="{% url 'update_activity' activity.id %}">Update</a>
                        <a href="{% url 'delete_activity' activity.id %}">Delete</a>

                        {% if activity.activity_set.all %}
                            <button type="button" class="view-sub-activities-button" 
                                onclick="toggleSubActivities('{{ activity.id }}')">
                                View Sub-Activities
                            </button>
                            <ul id="subActivities_{{ activity.id }}" style="display: none;">
                                {% for sub_activity in activity.activity_set.all %}
                                    <li>
                                        {% url 'log_activity' sub_activity.id as log_url %}
                                        <input type="checkbox" onchange="toggleComplete('{{ log_url }}', this)" 
                                            {% if sub_activity.id in completed_today_logs %}checked{% endif %}>
                                        {{ sub_activity.title }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="Today" class="tabcontent today-content-horizontal">
            {% for time_of_day, tasks in today_tasks_grouped.items %}
                <h4>{{ time_of_day }}</h4>
                <ul>
                    {% for task in tasks %}
                        <li class="task-item">
                            {% url 'complete_task' task.id as complete_url%}
                            <input type="checkbox" onchange="toggleComplete('{{complete_url}}', this)">
                            {{ task.title }}
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
        <div id="Backlog" class="tabcontent">
            <h3>Backlog</h3>
            <form method="post" action="{% url 'home' %}">
                {% csrf_token %}
                <input type="hidden" name="add_category" value="true">
                <input type="text" name="name" placeholder="New Category">
                <button type="submit">Add Category</button>
            </form><br>

            {% for category in categories %}
                <div class="category">
                    <h4>{{ category.name }}</h4>
                    <a href="{% url 'update_category' category.id %}">Update</a>
                    <a href="{% url 'delete_category' category.id %}">Delete</a>
                    <ul>
                        {% for task in category.task_set.all %}
                            {% if task.is_backlog %}
                                <li>
                                    {{ task.title }}
                                    <a href="{% url 'update_task' task.id %}">Update</a>
                                    <a href="{% url 'delete_task' task.id %}">Delete</a>
                                    <a href="{% url 'move_to_today' task.id %}">Move to Today</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <form method="post" action="{% url 'home' %}">
                        {% csrf_token %}
                        <input type="hidden" name="add_task" value="true">
                        <input type="hidden" name="category_id" value="{{ category.id }}">
                        {{ task_form.as_p }}
                        <button type="submit">Add Task</button>
                    </form>
                </div>
            {% endfor %}
        </div>

        <div id="History" class="tabcontent">
            <div class="filter-buttons">
                <button onclick="filterHistory('all')">All Time</button>
                <button onclick="filterHistory('monthly')">Monthly</button>
                <button onclick="filterHistory('completed')">Completed</button>
                <button onclick="filterHistory('missed')">Missed</button>
            </div>
            <canvas id="historyChart"></canvas>
        </div>
    </div>

    <script>
        let historyChart;

        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";

            if (tabName === 'History') {
                filterHistory('all');
            }
        }

        function renderChart(data) {
            var ctx = document.getElementById('historyChart').getContext('2d');
            
            if (historyChart) {
                historyChart.destroy();
            }

            historyChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: data.labels,
                    datasets: [
                        {
                            label: 'Completed Activities',
                            data: data.completed_data,
                            backgroundColor: 'rgba(75, 192, 192, 0.6)',
                        },
                        {
                            label: 'Total Activities',
                            data: data.total_data,
                            backgroundColor: 'rgba(255, 99, 132, 0.6)',
                        },
                    ],
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                        },
                    },
                },
            });
        }

        function filterHistory(filterType) {
            fetch(`/history/?filter=${filterType}`)
                .then(response => response.json())
                .then(data => {
                    renderChart(data);
                });
        }

        function toggleComplete(url, element) {
            fetch(url, {
                method: 'GET',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'Content-Type': 'application/json'
                },
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    if (element.closest('.task-item')) {
                        element.closest('.task-item').remove();
                    }
                }
            });
        }

        document.addEventListener('DOMContentLoaded', function() {
            document.getElementsByClassName("tablinks")[0].click();
        });

        function toggleActivityForm() {
            const form = document.getElementById("addActivityForm");
            if (form.style.display === "none") {
                form.style.display = "block";
            } else {
                form.style.display = "none";
            }
        }

        function toggleActivities() {
            const activitiesList = document.getElementById("activitiesList");
            activitiesList.style.display = activitiesList.style.display === "none" ? "block" : "none";
        }

        function toggleSubActivities(activityId) {
            const subList = document.getElementById("subActivities_" + activityId);
            subList.style.display = subList.style.display === "none" ? "block" : "none";
        }


    </script>
</body>
</html>